framework: >= net45
source https://nuget.org/api/v2

nuget FubuCore 2.0.1.321
nuget FubuMVC.Core 3.0.2
nuget FubuMVC.Razor 3.0.1.2355
nuget HtmlTags 2.1.0.183
nuget Microsoft.AspNet.Razor 2.0.30506
nuget Marten 2.0.0-alpha-51614
nuget Moq
nuget Npgsql
nuget Bottles 2.2.0.610
nuget Newtonsoft.Json >= 9.0.1
nuget Shouldly 
nuget Storyteller 3.0.1
nuget structuremap 4.4.5
nuget xunit 2.2.0
nuget xunit.runner.console 2.2.0
nuget xunit.runner.utility 2.2.0
