/*
.btn-group {
    white-space: nowrap;
    .btn{
        float: None;
        display: inline-block;
    }
}

body {
	background: url('~/Content/images/dark_embroidery.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#fff;
  	background-color:#fff;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}
*/


.btn-group {
    display: flex;
}
.btn {
    margin: 2px;
}