<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesignPatterns.Properties.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DesignPatterns.Creational_Patterns.Factory.FactoryMethod.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DesignPatterns.Properties.settings>
            <setting name="AutoFactory" serializeAs="String">
                <value>DesignPatterns.Creational_Patterns.Factory.FactoryMethod.MiniCooperFactory</value>
            </setting>
        </DesignPatterns.Properties.settings>
        <DesignPatterns.Creational_Patterns.Factory.FactoryMethod.settings>
            <setting name="AutoFactory" serializeAs="String">
                <value />
            </setting>
        </DesignPatterns.Creational_Patterns.Factory.FactoryMethod.settings>
    </userSettings>
</configuration>