<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FubuCore" version="2.0.1.321" targetFramework="net461" />
  <package id="FubuMVC.Core" version="3.1.0" targetFramework="net461" />
  <package id="HtmlTags" version="2.1.0.183" targetFramework="net461" />
  <package id="LightningDB" version="0.9.9" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Shouldly" version="3.0.0" targetFramework="net461" />
  <package id="StructureMap" version="4.4.3" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net461" />
</packages>